
.btn {
  display: block;
  width: fit-content;
  margin: 0 auto 30px auto;
  padding: 16px 40px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: white;
  background: #4a7c2f;
  border-radius: 40px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #376017;
}
